:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-greyish-blue: hsl(229, 6%, 66%);
    --color-light-grey: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
    font-size: 50%;

    @media only screen and (max-width: 900px) {
        font-size: 45%;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
 body {
    font-family: 'Poppins', sans-serif;
 }