figure {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    border-top: 3px solid;
    border-radius: 6px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    transition: all .2s;
    animation: fadeIn .5s;

    &:hover {
        transform: translateY(-1.4rem);
    }

    svg {
        align-self: flex-end;
        width: 5.6rem;
        height: auto;
        margin-top: auto;
    }

    &.card-1 {
        border-color: var(--color-cyan);
    }

    &.card-2 {
        border-color: var(--color-red);
    }

    &.card-3 {
        border-color: var(--color-orange);
    }

    &.card-4 {
        border-color: var(--color-blue);
    }
}